@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@300;400;600;700&family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Georama:wght@300;400;600&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ul,
ol,
li {
  list-style: none; }

a {
  text-decoration: none; }

body {
  background: #eae7db; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  height: 100%;
  background: url(../img/bg_v2.png) no-repeat center/cover;
  z-index: 5; }
  header h1 {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%); }
    header h1 img {
      width: 70%; }
  header p {
    position: absolute;
    top: 24%;
    left: 51%;
    transform: translate(-50%, -50%); }
    header p img {
      width: 200px; }
  header .sns {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 100px; }
    header .sns::after {
      content: '';
      display: block;
      clear: both; }
    header .sns li {
      float: left;
      margin-right: 20px; }
      header .sns li:last-child {
        margin-right: 0; }
      header .sns li a {
        font: 20px/1 'arial';
        color: #fff; }
        header .sns li a span {
          font: 12px/1 'arial';
          color: #fff; }
        header .sns li a i {
          margin-right: 5px; }

#visual {
  width: 100%;
  height: 60vh;
  position: relative;
  z-index: 1; }
  #visual .pic {
    width: 100%;
    height: 100%;
    background: url(../img/bg2.jpg) no-repeat bottom/cover;
    object-fit: cover; }
  #visual h2 {
    position: absolute;
    top: 16%;
    left: 28%;
    font: 50px/1 'Georama';
    font-weight: 600;
    color: #35332b; }
  #visual p {
    position: absolute;
    top: 45%;
    left: 28%;
    font: 16px/1.5 'Open Sans';
    color: #3a3934; }
  #visual a {
    position: absolute;
    top: 60%;
    left: 28%;
    display: block;
    width: 170px;
    height: 45px;
    font: 16px/45px 'Open Sans';
    color: #fff;
    background: #006241;
    text-align: center;
    transition: 0.5s;
    border-radius: 5px; }
    #visual a:hover {
      background: #079264; }

#gallery {
  padding: 20px;
  margin-left: 400px;
  box-sizing: border-box; }
  #gallery .filter {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px; }
    #gallery .filter::after {
      content: '';
      display: block;
      clear: both; }
    #gallery .filter li {
      float: left;
      margin-right: 30px; }
      #gallery .filter li a {
        display: block;
        width: 100px;
        height: 30px;
        font: 13px/30px 'Open Sans';
        font-weight: 400;
        background: #fff;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
        color: #aaa;
        text-align: center;
        border-radius: 5px; }
        #gallery .filter li a.on {
          background: #006241;
          color: #fff; }
  #gallery .wrap {
    width: 100%; }
    #gallery .wrap::after {
      display: block;
      content: '';
      clear: both; }
    #gallery .wrap article {
      float: left;
      width: calc(100%/6);
      height: 42vh;
      padding: 15px; }
      #gallery .wrap article .inner {
        width: 100%;
        height: 100%;
        background: #fff;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
        border-radius: 2%;
        padding: 15px;
        text-align: center;
        object-fit: cover; }
        #gallery .wrap article .inner img {
          width: 100%;
          margin-bottom: 15px; }
        #gallery .wrap article .inner h2 {
          display: inline-block;
          font: bold 15px/1 'Montserrat';
          color: #222;
          margin-bottom: 5px; }
        #gallery .wrap article .inner strong {
          padding: 0 5px 0 4px;
          border-radius: 4px;
          margin-left: 8px;
          font-size: 13px;
          line-height: 20px;
          color: #fff; }
          #gallery .wrap article .inner strong.best {
            background-color: #0257c7; }
          #gallery .wrap article .inner strong.new {
            background-color: #ffa135; }
          #gallery .wrap article .inner strong.hot {
            background-color: #ff4a3d; }
        #gallery .wrap article .inner .star {
          display: block; }
          #gallery .wrap article .inner .star i {
            color: #ffcf14;
            font-size: 13px; }
        #gallery .wrap article .inner p {
          font: 13px/1.4 'Open Sans';
          color: #555;
          margin-bottom: 15px;
          margin-top: 10px; }

@media screen and (max-width: 1599px) {
  header {
    width: 300px; }

  #visual p {
    top: 50%; }
  #visual a {
    top: 70%; }

  #gallery .wrap article {
    width: calc(100%/5);
    height: 50vh; } }
@media screen and (max-width: 1199px) {
  header {
    position: relative;
    width: 100%;
    height: 90px; }
    header h1 {
      top: 50%; }
      header h1 img {
        width: 40%; }
    header p {
      display: none; }
    header .sns {
      top: 50%;
      right: 50px;
      left: auto; }

  #visual {
    height: 55vh; }
    #visual h2, #visual p, #visual a {
      left: 10%; }

  #gallery {
    margin-left: 0; }
    #gallery .wrap article {
      width: calc(100%/4); } }
@media screen and (max-width: 899px) {
  #visual {
    height: 50vh; }
    #visual h2 {
      font: 40px/1.2 'Georama';
      font-weight: 600;
      color: #35332b; }
    #visual p {
      font: 15px/1.5 'Open Sans';
      color: #3a3934; }
    #visual a {
      width: 160px;
      height: 40px;
      font: 15px/40px 'Open Sans'; }

  #gallery .wrap article {
    width: calc(100%/3); } }
@media screen and (max-width: 539px) {
  header h1 {
    font-size: 20px;
    left: 50px; }
  header .sns {
    right: -15px; }

  #visual {
    height: 40vh; }
    #visual h2 {
      font: 30px/1.2 'Georama';
      font-weight: 600;
      color: #35332b; }
    #visual p {
      font: 14px/1.2 'Open Sans';
      color: #3a3934; }
    #visual a {
      width: 150px;
      height: 40px;
      font: 14px/40px 'Open Sans'; }

  #gallery .fliter li {
    width: calc(100%/3);
    padding: 0 5px;
    margin-right: 0; }
    #gallery .fliter li a {
      width: 100%; }
  #gallery .wrap article {
    width: calc(100%/1);
    height: auto; } }

/*# sourceMappingURL=style.css.map */
