@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@300;400;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');

/* reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background: #eae7db;
}



header {
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    background: url(../img/bg_v2.png) no-repeat center/cover;
    // background: #006241;

    h1 {
        text-align: center;
        color: #fff;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);

        img {
            width: 70%;
        }
    }

    p {
        position: absolute;
        top: 24%;
        left: 51%;
        transform: translate(-50%, -50%);

        img {
            width: 200px;
        }
    }

    .sns {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: 100px;

        &::after {
            content: '';
            display: block;
            clear: both;
        }

        li {
            float: left;
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }

            a {
                font: 20px/1 'arial';
                color: #fff;

                span {
                    font: 12px/1 'arial';
                    color: #fff;
                }

                i {
                    margin-right: 5px;
                }
            }
        }
    }



}

section {
    padding: 20px;
    margin-left: 400px;
    box-sizing: border-box;

    .filter {
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;

        &::after {
            content: '';
            display: block;
            clear: both;
        }

        li {
            float: left;
            margin-right: 50px;

            a {
                display: block;
                width: 150%;
                height: 30px;
                font: bold 7px/30px 'Open Sans`';
                background: #fff;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
                color: #aaa;
                text-align: center;

                &.on {
                    background: #006241;
                    color: #fff;
                }
            }
        }
    }

    .wrap {
        width: 100%;

        &::after {
            display: block;
            content: '';
            clear: both;
        }

        article {
            float: left;
            width: calc(100%/6);
            padding: 15px;

            .inner {
                width: 100%;
                height: 100%;
                background: #fff;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
                border-radius: 2%;
                padding: 15px;
                text-align: center;
                

                img {
                    width: 100%;
                    margin-bottom: 15px;
                    transition: 0.5s;

                    &:hover {
                        transform: scale(1.2);
                    }
                }

                h2 {
                    display: inline-block;
                    font: bold 13px/1 'Montserrat';
                    color: #222;
                    margin-bottom: 5px;
                    letter-spacing: 1px;
                }

                strong {
                    padding: 0 5px 0 4px;
                    border-radius: 4px;
                    margin-left: 8px;
                    font-size: 13px;
                    line-height: 20px;
                    color: #fff;

                    &.best {
                        background-color: #0257c7;
                    }

                    &.new {
                        background-color: #ffa135;
                    }
                    
                }


                .star {
                    display: block;

                    i {
                        color: #ffcf14;
                        font-size: 13px;
                    }
                }

                p {
                    font: 12px/1.2 'Open Sans';
                    color: #555;
                    margin-bottom: 15px;
                    margin-top: 10px;
                }
            }
        }
    }
}



@media screen and (max-width: 1599px) {

    header {
        width: 300px;
    }
    
    header h1 {
        font: bold 30px/1 'orbitron';
    }

    section .wrap article {
        width: calc(100%/5);
    }
}

/* header 레이아웃 변경 */
@media screen and (max-width: 1199px) {

    header {
        position: relative;
        width: 100%;
        height: 90px;

        h1 {
            top: 50%;

            &::after {
                display: none;
            }
        }

        img {
            width: 40%;
        }

        p {
            display: none;
        }

        .sns {
            right: 50px;
            bottom: 25px;
            left: auto;
        }
    }


    /* section margin-left 0으로 초기화 */
    section {
        margin-left: 0;

        .wrap {
            article {
                width: calc(100%/4);
            }
        }
    }

}

@media screen and (max-width: 899px) {

    section .wrap article {
        width: calc(100%/3);
    }
}

@media screen and (max-width: 679px) {


    header .sns li {
        margin-right: 0;
        margin-left: 20px;
    }

    header .sns li a span {
        display: none;
    }

    section .wrap article {
        width: calc(100%/2);
    }
}

@media screen and (max-width: 539px) {

    header h1 {
        font-size: 20px;
        left: 20px;
    }

    section .filter li {
        width: calc(100%/3);
        padding: 0 5px;
        margin-right: 0;
    }

    section .filter li a {
        width: 100%;
    }

    header .sns {
        right: 20px;
    }

    section .wrap article {
        width: calc(100%/1);
    }
}